p {
    color:#964B00;
    text-align: center;
    color: red;
    line-height: 30px;
}

h1 {
    text-align: center;
    text-decoration: red underline;
    text-transform: uppercase;
}

h3 {
    text-align: center;
    color: black;
}

h4 {
    text-align: center;
}

body {
    font-family: Georgia;

}

a {
    color: rgb(0,255,0);
    text-decoration: none;
}

button {
    color:blueviolet;
    background-color: white;
}

textarea {
    color: #000000
}